@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-animated-gradient {
    /* A four-color gradient that moves left-to-right */
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;

    /* 15s each cycle, but adjust to taste */
    animation: gradientMove 15s ease infinite;
}

/* Define the keyframes for the background animation */
@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}